{% extends 'Flujos/home.html' %}

{% block titulo %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Productos</h1>
        <br>
    </div>    
{% endblock titulo %}


{% block contenido %}    
    <div class="container-fluid px-4">
        <style>
            table, th, td{
                border: 1px solid #d1cccc;
                border-collapse: collapse;
            }
            th, td{
                padding: 10px;
            }
            th{
                text-align: center;
                background-color: #cccccc                                                                                                                                                                                                                                                                                                                                                                                                                                                             ;
            }
        </style>

        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Unidad Medida</th>
                    <th>Tipo Producto</th>
                </tr>
            </thead>
            <tbody>
                {% for c in productos %}
                    <tr>
                        <td>{{c.id}}</td>
                        <td>{{c.nombre}}</td>
                        <td>{{c.unidadMedida}}</td>
                        <td>{{c.tipoProducto}}</td>
                    </tr>                
                {% endfor %}                
            </tbody>
        </table>
        
        <br>

        <a href="{% url 'home' %}">
            <input type="button" value= "Volver al Home" style="background-color: #cccccc; width: 150px">
        </a>

    </div>    
{% endblock contenido %}
     