{% extends 'Flujos/home.html' %}


{% block titulo %}
    <h1 class="mt-4">Repartidores</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Mantenedor</li>
    </ol>
{% endblock titulo %}
    

{% block contenido %}    
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>RUT</th>
                <th>Direccion</th>
            </tr>
        </thead>
        <tbody>
            {% for c in repartidores %}
                <tr>
                    <td>{{c.id}}</td>
                    <td>{{c.nombre}}</td>
                    <td>{{c.rut}}</td>
                    <td>{{c.direccion}}</td>
                </tr>                
            {% endfor %}                
        </tbody>
    </table>
{% endblock contenido %}